In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
df= pd.read_csv(r"E:\data sciences\origin\Dataset of Diabetes .csv")

In [19]:
df

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200,454317,M,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,Y
996,671,876534,M,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,Y
997,669,87654,M,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,Y
998,99,24004,M,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,Y
999,248,24054,M,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,Y

In [20]:
df= df.drop(['ID','No_Pation'],axis=1)
df

    Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI CLASS
0        F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
1        M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0     N
2        F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
3        F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
4        M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0     N
..     ...  ...   ...  ..    ...   ...  ...  ...  ...   ...   ...   ...
995      M   71  11.0  97    7.0   7.5  1.7  1.2  1.8   0.6  30.0     Y
996      M   31   3.0  60   12.3   4.1  2.2  0.7  2.4  15.4  37.2    Y
997      M   30   7.1  81    6.7   4.1  1.1  1.2  2.4   8.1  27.4    Y
998      M   38   5.8  59    6.7   5.3  2.0  1.6  2.9  14.0  40.5    Y
999      M   54   5.0  67    6.9   3.8  1.7  1.1  3.0   0.7  33.0    Y

[1000 rows x 12 columns]

In [21]:
df['Gender'].value_counts()

Gender
M    565
F    434
f      1
Name: count, dtype: int64

In [22]:
df['CLASS'].value_counts()

CLASS
Y     840
N     102
P      53
Y       4
N       1
Name: count, dtype: int64

In [23]:
mapping={"M":99,
         "F":88,
         "f":88,
         "Y":0, # Diabetic
         "N":1,# not diabetic
         "P":2}# pred_diabetic

In [38]:
with open('labels.pkl','wb') as file:
    pkl.dump(mapping,file)

In [24]:
df

    Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI CLASS
0        F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
1        M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0     N
2        F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
3        F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
4        M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0     N
..     ...  ...   ...  ..    ...   ...  ...  ...  ...   ...   ...   ...
995      M   71  11.0  97    7.0   7.5  1.7  1.2  1.8   0.6  30.0     Y
996      M   31   3.0  60   12.3   4.1  2.2  0.7  2.4  15.4  37.2    Y
997      M   30   7.1  81    6.7   4.1  1.1  1.2  2.4   8.1  27.4    Y
998      M   38   5.8  59    6.7   5.3  2.0  1.6  2.9  14.0  40.5    Y
999      M   54   5.0  67    6.9   3.8  1.7  1.1  3.0   0.7  33.0    Y

[1000 rows x 12 columns]

In [25]:
df['Gender']=df['Gender'].map(mapping)
df['CLASS']=df['CLASS'].map(mapping)
df

     Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI  CLASS
0        88   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0    1.0
1        99   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0    1.0
2        88   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0    1.0
3        88   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0    1.0
4        99   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0    1.0
..      ...  ...   ...  ..    ...   ...  ...  ...  ...   ...   ...    ...
995      99   71  11.0  97    7.0   7.5  1.7  1.2  1.8   0.6  30.0    0.0
996      99   31   3.0  60   12.3   4.1  2.2  0.7  2.4  15.4  37.2    NaN
997      99   30   7.1  81    6.7   4.1  1.1  1.2  2.4   8.1  27.4    NaN
998      99   38   5.8  59    6.7   5.3  2.0  1.6  2.9  14.0  40.5    NaN
999      99   54   5.0  67    6.9   3.8  1.7  1.1  3.0   0.7  33.0    NaN

[1000 rows x 12 columns]

In [26]:
df['CLASS'].value_counts()

CLASS
0.0    840
1.0    102
2.0     53
Name: count, dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  1000 non-null   int64
 1   AGE     1000 non-null   int64
 2   Urea    1000 non-null   float64
 3   Cr      1000 non-null   int64
 4   HbA1c   1000 non-null   float64
 5   Chol    1000 non-null   float64
 6   TG      1000 non-null   float64
 7   HDL     1000 non-null   float64
 8   LDL     1000 non-null   float64
 9   VLDL    1000 non-null   float64
 10  BMI     1000 non-null   float64
 11  CLASS   995 non-null    float64
dtypes: float64(9), int64(3)
memory usage: 93.9 KB

In [28]:
df=df.fillna(value=df['CLASS'].median())
df

     Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI  CLASS
0        88   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0    1.0
1        99   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0    1.0
2        88   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0    1.0
3        88   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0    1.0
4        99   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0    1.0
..      ...  ...   ...  ..    ...   ...  ...  ...  ...   ...   ...    ...
995      99   71  11.0  97    7.0   7.5  1.7  1.2  1.8   0.6  30.0    0.0
996      99   31   3.0  60   12.3   4.1  2.2  0.7  2.4  15.4  37.2    0.0
997      99   30   7.1  81    6.7   4.1  1.1  1.2  2.4   8.1  27.4    0.0
998      99   38   5.8  59    6.7   5.3  2.0  1.6  2.9  14.0  40.5    0.0
999      99   54   5.0  67    6.9   3.8  1.7  1.1  3.0   0.7  33.0    0.0

[1000 rows x 12 columns]

In [30]:
df=df.sample(frac=1,ignore_index=True)
df

     Gender  AGE  Urea   Cr  HbA1c  Chol    TG   HDL  LDL  VLDL    BMI  CLASS
0        99   59  4.20   56   10.5   4.9  2.10  1.10  2.5   0.9  28.00    0.0
1        99   60  2.70   35    9.0   4.4  2.00  0.60  3.0   0.9  27.00    0.0
2        99   55  6.66   61    7.7   4.1  2.03  1.08  2.2  14.0  37.62    0.0
3        99   52  4.10  139   10.8   4.8  2.20  0.90  3.0   1.0  33.00    0.0
4        88   30  3.00   42    4.1   4.9  1.30  1.20  3.2   0.5  22.00    1.0
..      ...  ...   ...  ...    ...   ...   ...   ...  ...   ...    ...    ...
995      88   52  4.40   48    7.7   3.4  0.70  1.00  2.1   0.4  33.00    0.0
996      99   55  5.70   76    6.8   5.5  1.50  0.70  4.1   0.7  29.00    0.0
997      88   61  2.10   23    9.9   4.1  4.20  1.20  1.4   1.1  28.00    0.0
998      99   55  5.10   71    9.7   3.2  1.40  1.00  3.0   2.0  33.00    0.0
999      88   54  6.30  106    5.6   4.3  2.00  1.30  2.2   0.9  20.00    1.0

[1000 rows x 12 columns]

In [37]:
df.columns

Index(['Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG', 'HDL', 'LDL',
       'VLDL', 'BMI', 'CLASS'],
      dtype='object')

In [31]:
x=df.drop('CLASS',axis=1)
y= df['CLASS']

In [32]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [40]:
from sklearn.ensemble import HistGradientBoostingClassifier
rfc= HistGradientBoostingClassifier()
rfc.fit(x_train,y_train)
rfc.score(x_test,y_test)

0.985

In [41]:
import pickle as pkl

In [42]:
with open("orign.pkl","wb") as file:
    pkl.dump(rfc,file=file)

In [43]:
y_pred=rfc.predict(x_test)
y_pred

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 1., 0., 2., 0., 0., 1., 1., 0., 0., 0., 1., 2., 0., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 2., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 2., 0., 0., 0., 0., 0., 0., 0., 2.,
       0., 0., 0., 0., 0., 0., 0., 2., 0., 0., 0., 1., 2., 1., 0., 0., 0.,
       0., 2., 0., 0., 1., 2., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [48]:
see=y_pred[13]
see=list()

In [49]:
print(see.map(mapping))

AttributeError: 'list' object has no attribute 'map'